@media screen and (max-width: 1024px) {
    
    .taskbar{
        margin-top: 0;
    }
    .mid{
        background-size: 1600px 800px;
    }
    .minhaFoto{
        margin: 10px;
    }
    .colum-right, .colum-left{
        display: none;
    }
    .trabalhos{
        text-align: left;
    }
    .taskbar li a{
        padding: 5px 15px;
    }
    .climate span{
        font-size: 18px;
        margin: 0;
        
    }

}
@media screen and (max-width: 800px) {

    .span{
        display: none;
    }
    .welcome{
        margin-left: 10px ;
        width: 100%;
        padding: 5px;
        display: block;
    }
    .climate{
        margin: 0;
    }
    .climate .city{
        font-size: 16px;
    }
    .container-conhecimentos{

        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.466); /* Black w/opacity/see-through */
    
        height: 500px;
        width: 100%;
        border-radius: 10px;
        margin: 0 30px;
        
    }
}
@media screen and (max-width: 1200px) {
    .mid{
        flex-direction: column;
    }
}